<div class="container w-50 p-3 rounded mt-3" style="background-color: rgba(94, 169, 138, 1)">
    
    <ul class="nav nav-pills nav-fill">
        <li class="nav-item">
            <h2>Bienvenido {{user}}</h2>
        </li>

        <li class="nav-item">
            <a href="/api/chat/logoutChat" class="btn btn-primary">Logout</a>
        </li>
    </ul>
</div>
<div class="container w-50 p-3">


    <div class="row mx-auto">
        
        <h2 style="color:blue; font-size: 30px;">Centro de mensajes</h2>


        <form class="rounded" style="background-color: rgba(94, 169, 138, 1)">

            <div>
                <span style="font-size: 20px;"><u>Historial de mensajes:</u></span>
                <br/>
                <br/>
                <ul class="rounded" style="background:rgb(223, 223, 223)" id="messages">

                </ul>
                <div class="d-flex justify-content-center" id="whitoutMessages">

                </div>
            </div>

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Ingresá tu email" required>
                
            </div>
            <div class="mb-3">
                <label for="mensaje" class="form-label">Mensaje:</label>
                <input type="text" class="form-control" id="mensaje" aria-describedby="emailHelp" placeholder="Ingresá tu mensaje" required>
            </div>
            <div id="emptyMessage">

            </div>
            <button type="submit" id="submitMensaje" class="btn btn-primary">Enviar</button>
            <br/>
            <br/>
        </form>

    </div>

</div>

<script>
    //se toman los elementos del html
    const socket = io();
    const btn = document.getElementById('submitProduct');
    const btnMensaje = document.getElementById('submitMensaje');

  
    //evento del boton de envio de mensajes
    btnMensaje.addEventListener('click', (evt) => {
        evt.preventDefault();
        const email = document.getElementById('email').value;
        const mensaje = document.getElementById('mensaje').value;
        
        
        
        if (email !== '' && mensaje !== '') {
        
            socket.emit('nuevoMensaje', {
                "email" : email,
                "message" : mensaje,
            })
            const div = document.getElementById("emptyMessage");
            div.remove();
        }
        else{
            const div = document.getElementById("emptyMessage");
            div.innerHTML = "<p style=color:red >Los campos deben estar completos</p>"
        }

        document.getElementById('email').value = "";
        document.getElementById('mensaje').value = "";
        
    })
    
    
    
    //escucha la lista actualizada cuando se carga un mensaje del servidor y lo muestra en la plantilla
    socket.on('listaMensajesActualizada', (data) => {
        const mensasjes = data.map(item => `<li style= "color: brown ; list-style:none" > <b style= "color: blue">${item.email}</b>  [${item.timestrap}]:  <i style= "color: green">${item.message}</i></li>`);
        const ul = document.getElementById("messages");
        ul.innerHTML=mensasjes.join("")
        const div = document.getElementById("whitoutMessages");
        div.remove();
    })
    
    //escucha la lista de mensajes guardadas desde el servidor y los muestra
    socket.on('listaMensajesBienvenida', (data) => {
        if(data.length>0){
            const mensasjes = data.map(item => `<li style= "color: brown ; list-style:none" > <b style= "color: blue">${item.email}</b>  [${item.timestrap}]:  <i style= "color: green">${item.message}</i></li>`);
            const ul = document.getElementById("messages");
            ul.innerHTML=mensasjes.join("")
        }else{
            const div = document.getElementById("whitoutMessages");
            div.innerHTML = "<h4>No hay mensajes guardados</h4>"
        }
        
    })
    
</script>